<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!--Local SQL--><!--
		<add name="CubeDataContext"
		     connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=FutureMountain;Integrated Security=true"
		     providerName="System.Data.SqlClient"/>
		<add name="WaterDataContext"
		     connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=FutureMountain;Integrated Security=true"
		     providerName="System.Data.SqlClient"/>
		<add name="FireDataContext"
		     connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=FutureMountain;Integrated Security=true"
		     providerName="System.Data.SqlClient"/>-->

		<!--Local MySql-->
		<!--<add name="CubeDataContext"
		     connectionString="server=localhost; user=admin; password=Historic-valley; database=defaultdb"/>
		<add name="WaterDataContext"
		     connectionString="server=localhost; user=admin; password=Historic-valley; database=defaultdb"/>
		<add name="FireDataContext"
		     connectionString="server=localhost; user=admin; password=Historic-valley; database=defaultdb"/>
		<add name="TerrainDataContext"
		     connectionString="server=localhost; user=admin; password=Historic-valley; database=defaultdb"/>-->

		<!--Remote Grit-->
		<add name="CubeDataContext"
		     connectionString="Server=128.111.100.115; User ID=rhessys; Password=Rhessys2024!!; port=3306; Database=defaultdb;"/>
		<add name="WaterDataContext"
		     connectionString="Server=128.111.100.115; User ID=admin; Password=Historic-valley; port=3306; Database=defaultdb;"/>
		<add name="FireDataContext"
		     connectionString="Server=128.111.100.115; User ID=admin; Password=Historic-valley; port=3306; Database=defaultdb;"/>
		<add name="TerrainDataContext"
		     connectionString="Server=128.111.100.115; User ID=admin; Password=Historic-valley; port=3306; Database=defaultdb;"/>
		 </connectionStrings>
</configuration>